---
import BaseLayout from "../layouts/baseLayout.astro";
---

<BaseLayout title="Our Games" desc="see our games">
    <main>
        <h1>Our Games</h1>
        <p>
            Since the start of [company] in 2018 we've worked a wide variety of
            games, more than we can feature prominently on the site. Below find
            a complete list of [company's] projects, along with links to
            additional case studies and design diaries.
        </p>

        <!--  <p>Games are listed by the years in which we complete our work, not their publication date. Games that crossed between years are listed in the later year. Some unreleased projects are omitted.</p> -->
        <details>
            <summary>2025</summary>
            <ul>
                <li>
                    <b>title</b>
                    <p>role</p>
                </li>
                <li>
                    <b>title</b>
                    <p>role</p>
                </li>
                <li>
                    <a href="" target="_blank">title</a>
                    <p>role</p>
                </li>
            </ul>
        </details>
        <details></details>
        <details></details>
    </main>
</BaseLayout>
