---
import BaseLayout from "../layouts/baseLayout.astro";
import Gamecard from "../components/gamecard.astro";
---

<style>
    main {
        max-width: 80%;
        margin: 8rem auto 4rem;
        display: grid;
        justify-items: center;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
</style>

<BaseLayout>
    <main>
        <Gamecard title="Game's Title" desc="Game's short description" />
        <Gamecard title="Game's Title" desc="Game's short description" />
        <Gamecard title="Game's Title" desc="Game's short description" />
    </main>
</BaseLayout>
