---
import Nav from "../components/nav.astro";
import Gamecard from "../components/gamecard.astro";
import Head from "../components/head.astro";
import "../reset.css";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <Head/>
        <style>
            main {
                max-width: 80%;
                margin: 8rem auto 4rem;
                display: grid;
                justify-items: center;
                gap: 1rem;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            }
        </style>
    </head>

    <body>
        <header>
            <Nav />
        </header>
        <main>
            <Gamecard title="Game's Title" desc="Game's short description" />
            <Gamecard title="Game's Title" desc="Game's short description" />
            <Gamecard title="Game's Title" desc="Game's short description" />
        </main>
        <footer>
            <section>
                <h2 id="contact">Contact us!</h2>
                <a href="mailto:@gmail.com">📧 @gmail.com</a>
            </section>
            <small>
                View our <a
                    href="privacy.md"
                    target="_blank"
                    rel="noopener noreferrer">Privacy policy</a
                >
            </small>
            <small>Copyright &copy;2025 - Mike's Website</small>
            <small
                >Build by <a
                    href="http://digisolutech.netlify.app"
                    target="_blank">DigiSolutions</a
                ></small
            >
        </footer>
    </body>
</html>
