#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    transition: transform 0.3s ease;
    z-index: 1000;
}

#nav-links {
    display: flex;
    list-style: none;
}

#menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

#nav-links li a:where(:hover, :focus-visible) {
    background-color: #555;
    outline: none;
}

#nav-links li a:focus-visible {
    outline: 2px solid #fff;
}

/* Mobile Navigation */
@media (max-width: 768px) {
    #nav-links {
        position: fixed;
        top: 10%;
        right: 0;
        width: max-content;
        background-color: #333;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        padding: 10px;
    }

    #nav-links li {
        margin: 20px 0;
    }

    #menu-toggle {
        display: block;
    }

    nav:has(#nav-links.show) #nav-links {
        transform: translateX(0);
    }

    /* Fallback for browsers without :has() 
    #nav-links.show {
        transform: translateX(0);
    }*/
}

#nav-links li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}